Library/
Temp/
Obj/
Build/
Builds/
UserSettings/
MemoryCaptures/
Logs/

Assets/AssetStoreTools/
Assets/Plugins/PlasticSCM*/

*.private
*.private.meta
*.private.[0-9]
*.private.[0-9].meta

.vs/
.vscode/
.idea/
.gradle/
.consulo/
.plastic/

ExportedObj/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt
crashlytics-build.properties

*.apk
*.aab
*.app
*.unitypackage
~UnityDirMonSyncFile~*

Assets/AddressableAssetsData/*/*.bin*
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/*/aa/*

.DS_Store*
Thumbs.db
Desktop.ini
